#editor_section {
  margin: 35px auto;
}

#save_post_btn {
  display: block;
  margin: 15px auto;
}

.post_title_lbl,
.post_topics_lbl {
  margin-right: 15px;
}

input[name="post_title"] {
  text-align: center;
  width: 50%;
}

.remove_topic_btn {
  float: right;
  margin: 4px -5px 0 8px;
}

#blog_topics_dd {
  min-width: 150px;
}

.selected_blog_topic {
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  display: inline-block;
  font-size: 0.9em;
  margin-right: 10px;
  min-width: 140px;
  overflow: hidden;
  padding: 2px 10px;
  position: relative;
}
