.blog_content {
  margin: 15px auto 55px auto;
  padding: 15px;
  width: 90%;
}

.blog_body {
  clear: both;
}

.blog_footer {
  padding: 10px;
}

.blog_title {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.4em;
  padding: 5px;
}

.blog_topic {
  color: #4c825c;
  font-family: "Barlow Condensed", sans-serif;
}

.blog_header {
  font-family: "Barlow Condensed", sans-serif
}

.post_timezone {
  color: #464646;
  font-size: 0.8em;
}
