<div id="blog_id__{{blog.id}}">
  <div class="blog_header">
    <div class="post_author" title="{{'Written by: ' + blog.author.displayName}}">{{blog.author.displayName}}</div>
    <div class="post_dates">
      <div class="post_posted_on" title="{{'Created: ' + blog.created}}">{{blog.created | date}} - <span class="post_timezone">{{blog.timezone}}</span></div>
      <div *ngIf="blog.lastModified" class="post_updated_on" title="{{'Last updated: ' + blog.lastModified}}">{{blog.lastModified | date}}</div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div class="blog_title">
    {{blog.title}}
  </div>
  <div class="blog_body">
    <div class="blog_content bg_front" [innerHtml]="blog.content"></div>
  </div>
  <div class="blog_footer">
    <span *ngFor="let topic of blog.topics; last as last" class="blog_topic">
      {{(!last) ? topic.name + ',' : topic.name}}
    </span>
  </div>
</div>
