<div id="blog_id__{{blog.id}}">
  <div class="blog_header">
    <div class="post_author">{{blog.author.displayName}}</div>
    <div class="post_dates">
      <div class="post_posted_on">{{blog.created | date}}</div>
      <div *ngIf="blog.lastModified" class="post_updated_on">{{blog.lastModified | date}}</div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div class="blog_title">
    {{blog.title}}
  </div>
  <div class="blog_body">
    <div class="blog_content bg_front" [innerHtml]="blog.content"></div>
  </div>
  <div class="blog_footer">
    <span *ngFor="let topic of blog.topics; last as last" class="blog_topic">
      {{(!last) ? topic.name + ',' : topic.name}}
    </span>
  </div>
</div>
